.title{
    font-family:Roboto, Times, serif;
    font-size: 56px;
    font-weight: 700;
    margin-top:40px;
    color:#75B79E;
    margin-bottom:40px;
    text-align: center;
}.game{
    width:600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:350px;
}.cards-4{
    width:600px;
}.cards-6{
    width:800px;
}.cards-8{
    width:550px;
}.cards-10{
    width:700px;
}.cards-12{
    width:810px;
}.cards-14{
    width:935px;
}.game img{
    height: 100px;
    width: 100px;
}.card{
    height: 146px;
    width: 117px;
    border-radius: 5px;
    background-color: #99CEA8;
    display:flex;
    justify-content: center;
    align-items: center;
}.hidden{
    display:none;
}/*smartphone responsiveness*/
@media(max-width:600px){
    .title{
        width:312px;
        font-size: 36px;
    }.game{
        width:120px;
        flex-direction:column;
        flex-wrap: nowrap;
        height:100%;
    }.card{
        height: 146px;
        margin-bottom: 34px;
    }
}