.title{
    font-family:"Roboto", Times, serif;
    font-size: 56px;
    font-weight: 700;
    margin-top:40px;
    color:#75B79E;
    margin-bottom:40px;
    text-align: center;
}.game{
    width:600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:350px;
}.cards-4{
    width:600px;
}.cards-6{
    width:800px;
}.cards-8{
    width:550px;
}.cards-10{
    width:700px;
}.cards-12{
    width:810px;
}.cards-14{
    width:935px;
}.game img{
    height: 100px;
    width: 100px;
}.card{
    height: 146px;
    width: 117px;
    border-radius: 5px;
    background-color: #99CEA8;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all 1s;
}.card :nth-child(2){
    display:none;
}.flip{
    transform: rotateY(180deg);
}.flip :nth-child(1){
    display:none;
}.flip :nth-child(2){
    display:block
}.hidden{
    display:none;
}.clock{
    width:100px;
    height:50px;
    position:fixed;
    top:40px;
    right:32px;
    background-color:#75B79E;
    color:#eef9bf;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:"Roboto", Times, serif;
    font-weight:700;
    font-size:25px;
    border-radius:15px;
}/*smartphone responsiveness*/
@media(max-width:600px){
    .title{
        width:312px;
        font-size: 36px;
    }.game{
        width:120px;
        flex-direction:column;
        flex-wrap: nowrap;
        height:100%;
    }.card{
        height: 146px;
        margin-bottom: 34px;
    }.clock{
        top:80px;
        right:20px;
    }
}